* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: #000;
}

body::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    width: 100%;
    height: 937px;
    content: "";
    background-image: url('../Asset/loginWallpaper.jpg');
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    background-attachment: fixed;
}


.findbox {
    position: relative;
    width: 600px;
    height: 550px;
    background-color: #f6f5f0;
    top: 200px;
    bottom: 0;
    left: 36.5%;
    right: 0;
    border-radius: 15px;
    border: 1px solid gray;
}



.findbox > .waybox {
    position: relative;
    width: 500px;
    height: 500px;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.findbox > .waybox > .logo {
    width: 500px;
    display: inline-block;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.findbox > .waybox > .circle {
    width: 125px;
    height: 125px;
    background-image: url('../Asset/icon/question.png');
    margin: auto;
    margin-top: 0px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.findbox > .waybox > span {
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 500;
}
.findbox > .waybox > .maintext {
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 600;
}

.findbox > .waybox > hr {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 400px;
}

.findbox > .waybox > h3 {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 22.5px;
}

.findbox > .waybox > form {
    position: relative;
    width: 500px;
    height: 180px;
    margin: auto;
}

.findbox > .waybox > form > .lineone  {
    width: 500px;
   height: 150px;
  
}

.findbox > .waybox > form > .lineone > input {
    width: 300px;
    height: 45px;
    font-size: 15px;
    border-radius: 20px;
    text-align: center;
    margin-left: 100px;
    border: 1px solid gray;
    margin-top: 8px;
}




.findbox > .waybox > form > .lineone > input[name="emailsend"] {
    cursor: pointer;
    margin-top: 8px;
    font-weight: 700;
    border: none;
    color: gray;
    background-color: lightgray;
    transition: 0.5s;
}

.findbox > .waybox > .bottombox{
    position: relative;
    display: block;
    text-decoration: none;
    color: royalblue;
    font-weight: 700;
    width: 500px;
    text-align: center;
    font-size: 13px;
}

.findbox > .waybox > .bottombox a {
    text-decoration: none;
    color: royalblue;
}

.findbox > .waybox > .bottombox a::after {
    margin-left: 3px;
    content: "|";
}

.findbox > .waybox > .bottombox a:last-child::after {
    content: none;
}
