* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f4f4f4;
  }

  .detail-parents {
    width: 100%;
    height: auto;
    display: flex;
  }

.detail-parents > .sidebar {
    width: 250px;
    height: 100%;
    background-color:  royalblue;
    position: fixed;
    z-index: 100;
    color: white;
  }
  
  .detail-parents > .sidebar > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detail-parents > .sidebar hr {
    margin: auto;
    width: 75%;
  }
  
  /* 유저에 대한 정보 */
  .userinfo {
    width: 250px;
    text-align: center;
    margin: 10px 0px 10px 0px;
  }
  
  .bigul {
    margin: 10px 0px 10px 0px;
    text-align: left;
    width: 150px;
    list-style: none;
  }
  
  .bigul > li {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: white;
  }

  ul > .main-topic {
    font-weight: 600;
    font-size: 20px;
  }
  ul > .small-topic {
    width: 100%;
    list-style: none;
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: 10px;
  }


  /* 사이드바 끝 */
